body{
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header{
    text-align: center;
    padding: 25px;
}

header a{
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}
.resume-container{
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}

h1{
    margin-bottom: 5px;
}

h2{
    margin-bottom:0;
}

hr{
     margin-top: 0;
}

section{
    margin-bottom:0;
}

ul{
    padding-left: 20px;
}
a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
}
.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
}

footer{
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}